.git
.gitignore
.github
.idea
.vscode
.env
.env.backup
.env.production
/node_modules
npm-debug.log
yarn-error.log
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/pail
bootstrap/cache/*.php
.phpunit.cache
.phpunit.result.cache
.Homestead*
auth.json
docker-compose.override.yml
README.md
tests
phpunit.xml
